<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzigC5iINzoIcEw3ibe5Gd1rwspne8-S0</string>
	<key>GCM_SENDER_ID</key>
	<string>623018361867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiCaptionGeneratorApp</string>
	<key>PROJECT_ID</key>
	<string>ai-caption-generator-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-caption-generator-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623018361867:ios:aba21c49b76f24a542330e</string>
</dict>
</plist>